@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:wght@100;200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Italiana", serif;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img,
iframe,
video {
  border-radius: 0.7em;
}

p {
  text-align: justify;
  text-align-last: left;
}

span {
  font-weight: 700;
}

#highlight {
  font-size: 1.6rem;
}

#highlight-g {
  font-size: 1.6rem;
  color: #b7cc00;
}

/*Scroll To Top Btn*/
.scrollToTop-btn {
  z-index: 99999;
  position: fixed;
  right: 0;
  bottom: 20px;
  width: 35px;
  height: 35px;
  background: orange;
  color: #fff;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease;
}

.scrollToTop-btn.active {
  right: 20px;
  pointer-events: all;
  opacity: 1;
}

/*Whatsapp button*/
.wa-btn {
  z-index: 99999;
  position: fixed;
  bottom: 20px;
  left: 0;
  display: inline-flex;
  align-items: center;
  width: auto;
  max-width: 32px;
  height: 32px;
  background-color: #b7cc00;
  color: white;
  border-radius: 60px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.wa-btn:hover {
  max-width: 300px;
}

.wa-btn.active {
  left: 20px;
  pointer-events: all;
  opacity: 1;
}

#icon {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: 0.938rem;
  padding: 0rem 0.5rem;
}

.text {
  white-space: nowrap;
  padding-right: 0.938rem;
}

/*Section divider*/
hr.dashed {
  margin: 3rem 4rem;
  border-top: 2px solid #f2f2f2;
}

/*Container + Sections*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 2rem 2rem;
}

.sub-section {
  position: relative;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 0rem 3rem 0rem;
}

.top-section {
  padding-top: 6rem;
}

.top-header {
  margin-bottom: 2rem;
}

.section-headers span {
  font-size: 1.3rem;
  font-weight: 300;
  color: #666362;
}

#sectionAfter {
  background-color: #f2f2f2;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background: #666362;
}

/*Nav bar css*/
nav {
  position: fixed;
  z-index: 9998;
  width: 100%;
  backdrop-filter: blur(15px) brightness(75%) saturate(70%);
}
nav .wrapper {
  position: relative;
  max-width: 100%;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spanlist i {
  color: #fff;
}
.wrapper .logo span:hover {
  color: orange;
}
.wrapper .logo a {
  color: #fff;
  font-size: 30px;
}
#keyline {
  margin-top: 2rem;
  margin-left: 6rem;
  width: 55px;
  height: 55px;
}
.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  color: orange;
}
.nav-links .mobile-item {
  display: none;
}
.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 69px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

/*Drop Down Menu*/
.mega-box {
  position: absolute;
  right: 2px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content {
  background: #f2f2f2;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.mega-box .content .row {
  width: 160px;
  line-height: 45px;
}
/* .content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #666362;
  font-size: 15px;
  display: block;
}
.row .mega-links li a:hover {
  color: orange;
}
.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  color: #666362;
}

/*Nav bar for tablets*/
@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #f2f2f2;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  .spanlist i {
    color: #fff;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  ::-webkit-scrollbar-thumb {
    background: #666362;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    color: #666362;
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #666362;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    color: orange;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }
}
nav input {
  display: none;
}

/*Footer*/
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #242526;
  color: #fff;
  gap: 2rem;
  padding: 2rem 0rem;
}

footer span {
  font-weight: normal;
}

.footer-left-top span {
  padding-top: 2rem;
}

.footer-left-top,
.footer-center,
.footer-right-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-decoration: underline;
}

.footer-left-top,
.footer-right-bottom {
  gap: 1rem;
}

.footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  /* border-radius: 50%; */

  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.img-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0;
}

.footer-left-top,
.footer-right-bottom {
  font-size: 1.2rem;
}

.footer-center .center-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.footer-center {
  gap: 0.8rem;
  font-size: 0.8rem;
}

.footer-right-bottom {
  padding-bottom: 2rem;
}

.footer-right-bottom span {
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    padding: 3rem 7rem;
    gap: 2rem;
  }

  .footer-left-top span {
    padding-top: 0rem;
  }

  .footer-right-bottom {
    padding-bottom: 0rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .footer-icons a {
    width: 30px;
    height: 30px;
  }
}
