@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media screen and (min-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    background: #111222;
  }
  #navbar {
    z-index: 2;
  }
  #navbar-content {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
  }

  #navbar-content h2 {
    margin-right: 300px;
    -webkit-text-stroke: 0.5px white;
    -webkit-text-fill-color: black;
  }
  #navbar-content span {
    -webkit-text-fill-color: #60c045;
  }

  #navbar-content a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
  }
  #navbar-content a:hover {
    color: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(114, 253, 45, 0.7818507863514459) 100%
    );
  }

  #navbar-content a:after {
    content: "";
    position: absolute;
    background-color: #5f8575;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
  }

  #navbar-content a:hover:after {
    width: 100%;
  }
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
  }
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .section-title {
    font-size: 3em;
    margin-bottom: 80px;
  }

  /*Adding listing css*/
  .listingcontainer {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-content: center;
  }
  .listingcontent {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  #descarea {
    display: flex;
    flex-direction: column;
  }

  textarea {
    height: 200px;
    border-radius: 5px;
  }
  input {
    height: 30px;
  }
  .bn59 {
    background-color: #141414;
    border: 1px solid rgba(54, 54, 54, 0.6);
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    width: 130px;
    opacity: 1;
    color: #fff;
  }
  .imagesDivStyle {
    position: relative;
  }

  .imgs {
    height: 200px;
    width: 350px;
    border: 5px solid;
    border-color: white;
    border-radius: 25px;
  }

  #pdlab {
    vertical-align: top;
    margin-top: 65px;
  }

  #addprodbtn,
  #selimgsbtn,
  #loadlab {
    float: right;
    margin-left: 10px;
  }

  #controldiv {
    display: flex;
    width: 740px;
    justify-content: center;
  }

  #uploadstat {
    width: 100vw;
  }

  /*End Adding listing css*/

  /*Display*/
  #productsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
  }

  .productcard {
    border: 1px lightgray solid;
    height: 510px;
    width: 290px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 25px;
  }

  .productcard:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  .thumb {
    width: 250px;
    height: 160px;
    cursor: pointer;
  }

  #detbtns {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 15px;
  }
  #detbtns:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  #detbtns:hover {
    background-color: rgb(1, 1, 87);
    color: wheat;
  }

  .title {
    color: darkblue;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    text-align: center;
  }
  /*Autocomplete css*/
  .autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    width: 200px;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
  }

  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }

  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  /*End autocomplete css*/
}
