@import url("https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: white;
}
.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-size: 8vw;
  font-weight: 900;
  color: black;
}

header h2 {
  margin-right: 300px;
  -webkit-text-stroke: 0.5px white;
  -webkit-text-fill-color: black;
}
header span {
  -webkit-text-fill-color: #60c045;
}
/* make navbar sticky */
header.sticky {
  padding: 10px 100px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
}
header a:hover {
  color: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(114, 253, 45, 0.7818507863514459) 100%
  );
}

header a:after {
  content: "";
  position: absolute;
  background-color: #5f8575;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

header a:hover:after {
  width: 100%;
}

.infoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 100%;
}
.title h2 {
  position: relative;
  color: black;
  font-size: 75px;
  margin: 30px auto;
}
.info1 {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 350px;
}
.ewaste {
  width: 50%;
  color: black;
  padding: 50px;
  font-size: 19px;
  background-color: white;
  line-height: 40px;
}
:root {
  --gap: -200px;
  --circle-size: 200px;
  --circle-size-small: 130px;
  --color-1: #828f95;
  --color-2: #9da6a5;
  --color-3: #77ada7;
  --color-4: #5aafb2;
  --color-5: #39b3bb;
  --color-6: #07bec2;
}
.graphic-container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: 100px 0;
}
.center-circles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
  margin-top: 100px;
}

.single {
  gap: 20px;
}
.double {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.double:nth-child(even) {
  flex-direction: column-reverse;
}
.circle {
  width: var(--circle-size);
  height: var(--circle-size);
  background: #fff;
  border-radius: 50%;

  display: grid;
  place-items: center;
  position: relative;
}

.icon i {
  font-size: 3rem;
}
.content-container {
  position: absolute;
  max-width: 200px;
  min-width: 200px;
  width: 100%;
}
.content p {
  font-size: 12px;
}
.content-container h2 {
  position: relative;
  padding: 0 10px;
}
/* arrow heading border */
.one .content-container h2::before,
.one .content-container h2::after,
.two .content-container h2::before,
.two .content-container h2::after,
.five .content-container h2::before,
.five .content-container h2::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 22px;
  background: teal;
  left: -6px;
}
.one .content-container h2::before,
.two .content-container h2::before,
.five .content-container h2::before {
  top: -2px;
  transform: rotate(30deg);
}
.one .content-container h2::after,
.two .content-container h2::after,
.five .content-container h2::after {
  bottom: -2px;
  transform: rotate(-30deg);
}
.three .content-container h2::before,
.three .content-container h2::after,
.four .content-container h2::before,
.four .content-container h2::after,
.six .content-container h2::before,
.six .content-container h2::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 22px;
  background: teal;
  right: -6px;
}
.three .content-container h2::before,
.four .content-container h2::before,
.six .content-container h2::before {
  top: -2px;
  transform: rotate(-30deg);
}
.three .content-container h2::after,
.four .content-container h2::after,
.six .content-container h2::after {
  bottom: -2px;
  transform: rotate(30deg);
}

/* different content elements */
.two,
.four {
  width: var(--circle-size-small);
  height: var(--circle-size-small);
}
.two i,
.four i {
  color: #fff;
  font-size: 2.5rem;
}
.one .content-container {
  left: 0;
  bottom: var(--gap);
  text-align: left;
}
.two .content-container {
  left: 80px;
  bottom: var(--gap);
  text-align: left;
}
.three .content-container {
  right: 200px;
  top: var(--gap);
  text-align: right;
}
.four .content-container {
  right: 20px;
  top: var(--gap);
  text-align: right;
}
.five .content-container {
  left: 200px;
  bottom: var(--gap);
  text-align: left;
}
.six .content-container {
  left: 0;
  top: var(--gap);
  text-align: right;
}

/* lines */
/* bottom layer */
.one .line {
  position: absolute;
  width: 2px;
  height: 170px;
  background-color: var(--color-1);
  top: -150px;
  left: -30px;
}
.one .line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 2px;
  background: var(--color-1);
}
.one .line::after,
.two .line::after,
.five .line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
}
.one .line::after {
  background: var(--color-1);
}
.two .line::after {
  background: var(--color-2);
}
.five .line::after {
  background: var(--color-5);
}
.two .line {
  position: absolute;
  width: 2px;
  height: 90px;
  background-color: var(--color-2);
  top: -70px;
  left: -30px;
}
.five .line {
  position: absolute;
  width: 2px;
  height: 110px;
  background-color: var(--color-5);
  top: -90px;
  left: -30px;
}
/* top layer */
.three .line {
  position: absolute;
  width: 2px;
  height: 222px;
  background-color: var(--color-3);
  bottom: -100px;
  right: -30px;
}
.three .line::after,
.four .line::after,
.six .line::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 2px;
}
.three .line::after {
  background: var(--color-3);
}
.four .line::after {
  background: var(--color-4);
}
.six .line::after {
  background: var(--color-6);
}
.four .line {
  position: absolute;
  width: 2px;
  height: 222px;
  background-color: var(--color-4);
  bottom: -100px;
  right: -30px;
}
.four .line::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 20px;
  height: 2px;
  background: var(--color-4);
}
.six .line {
  position: absolute;
  width: 2px;
  height: 282px;
  background-color: var(--color-6);
  bottom: -160px;
  right: -30px;
}
.six .line::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 35px;
  height: 2px;
  background: var(--color-6);
}

/* dots */
.one .dot {
  position: absolute;
  top: 110px;
  right: -30px;
  width: 20px;
  height: 20px;
  background: var(--color-1);
  border-radius: 50%;
  box-shadow: -20px -110px 0 6px var(--color-1), -30px 80px 0 4px var(--color-1);
}
.four .dot {
  position: absolute;
  top: 130px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: var(--color-4);
  border-radius: 50%;
  box-shadow: -22px -138px 0 10px var(--color-4),
    -70px 70px 0 0px var(--color-4);
}
.six .dot {
  position: absolute;
  top: -30px;
  left: 10px;
  width: 10px;
  height: 10px;
  background: var(--color-6);
  border-radius: 50%;
  box-shadow: -50px 50px 0 25px var(--color-6),
    150px 250px 0 10px var(--color-6);
}
/* circle colors */
.one {
  box-shadow: inset 0 0 0 20px var(--color-1), inset 0px 0px 12px 20px #989898;
}
.two {
  background-color: var(--color-2);
  transform: translateX(-20px);
}
.three {
  box-shadow: inset 0 0 0 20px var(--color-3), inset 0px 0px 12px 20px #989898;
  transform: translateX(10px);
}
.four {
  background-color: var(--color-4);
  transform: translateX(-20px);
}
.five {
  box-shadow: inset 0 0 0 20px var(--color-5), inset 0px 0px 12px 20px #989898;
  transform: translateX(10px);
}
.six {
  box-shadow: inset 0 0 0 20px var(--color-6), inset 0px 0px 12px 20px #989898;
}

/* h2 border colors */
.one .content-container h2 {
  border-top: 2px solid var(--color-1);
  border-bottom: 2px solid var(--color-1);
}
.two .content-container h2 {
  border-top: 2px solid var(--color-2);
  border-bottom: 2px solid var(--color-2);
}
.three .content-container h2 {
  border-top: 2px solid var(--color-3);
  border-bottom: 2px solid var(--color-3);
}
.four .content-container h2 {
  border-top: 2px solid var(--color-4);
  border-bottom: 2px solid var(--color-4);
}
.five .content-container h2 {
  border-top: 2px solid var(--color-5);
  border-bottom: 2px solid var(--color-5);
}
.six .content-container h2 {
  border-top: 2px solid var(--color-6);
  border-bottom: 2px solid var(--color-6);
}

.one .content-container h2::before,
.one .content-container h2::after {
  background: var(--color-1);
}
.two .content-container h2::before,
.two .content-container h2::after {
  background: var(--color-2);
}
.five .content-container h2::before,
.five .content-container h2::after {
  background: var(--color-5);
}

.three .content-container h2::before,
.three .content-container h2::after {
  background: var(--color-3);
}
.four .content-container h2::before,
.four .content-container h2::after {
  background: var(--color-4);
}
.six .content-container h2::before,
.six .content-container h2::after {
  background: var(--color-6);
}

.blog-card {
  position: relative;
  height: 370px;
  width: 95%;
  max-width: 850px;
  margin: 200px;
  border-radius: 25px;
  background: white;
  box-shadow: 0px 10px 50px rgba(114, 253, 45, 0.7818507863514459);
}
.inner-part {
  position: absolute;
  display: flex;
  height: 360px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
#imgTap:checked ~ .inner-part {
  padding: 0;
  transition: 0.1s ease-in;
}
.inner-part .img {
  height: 260px;
  width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 15px rgba(67, 161, 20, 0.7818507863514459);
}
#imgTap:checked ~ .inner-part .img {
  height: 370px;
  width: 850px;
  z-index: 99;
  margin-top: 10px;
  transition: 0.3s 0.2s ease-in;
}
.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0;
  transition: 0.6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3 {
  opacity: 1;
  transition-delay: 0.2s;
}
.content {
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  transition: 0.6s;
}
#imgTap:checked ~ .inner-part .content {
  display: none;
}
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3 {
  opacity: 1;
  margin-left: 0px;
  z-index: 100;
  transition-delay: 0.3s;
}
.content span {
  display: block;
  color: #7b7992;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500;
}
.content .title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.content .text {
  color: #4e4a67;
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 1.5em;
  text-align: start;
}
.content a {
  display: inline-flex;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;

  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(114, 253, 45, 0.7818507863514459) 100%
  );
}
.content button:hover {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(114, 253, 45, 0.7818507863514459) 100%
  );
}
.sliders {
  position: absolute;
  bottom: 25px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 12;
}
#imgTap:checked ~ .sliders {
  display: none;
}
.sliders .tap {
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}
.sliders .tap:hover {
  background: #cccccc;
}
.sliders .tap:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(114, 253, 45, 1) 100%
  );
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: left;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before {
  transform: scaleX(1);
  width: 100%;
}
#timeline {
  display: flex;
  background-color: azure;
  border: solid 40px;
  border-color: #afeeee;
  margin-top: -90px;
}
#timeline:hover .tl-item {
  width: 23.3333%;
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
  border: 4px solid;
  border-color: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(114, 253, 45, 1) 100%
  );
}
.tl-item:before,
.tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.tl-item:hover {
  width: 30% !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  filter: grayscale(0);
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial,
    sans-serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  font-size: 40px;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

.cock {
  height: 300px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1191%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c77 C 36%2c107.6 108%2c242.6 180%2c230 C 252%2c217.4 288%2c22.2 360%2c14 C 432%2c5.8 468%2c188.8 540%2c189 C 612%2c189.2 648%2c7.8 720%2c15 C 792%2c22.2 828%2c206.2 900%2c225 C 972%2c243.8 1008%2c116.6 1080%2c109 C 1152%2c101.4 1188%2c203.8 1260%2c187 C 1332%2c170.2 1404%2c57.4 1440%2c25L1440 560L0 560z' fill='rgba(53%2c 211%2c 109%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c506 C 57.6%2c485.6 172.8%2c396.8 288%2c404 C 403.2%2c411.2 460.8%2c565.2 576%2c542 C 691.2%2c518.8 748.8%2c311.4 864%2c288 C 979.2%2c264.6 1036.8%2c407.6 1152%2c425 C 1267.2%2c442.4 1382.4%2c385 1440%2c375L1440 560L0 560z' fill='rgba(57%2c 165%2c 36%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1191'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.cock h2 {
  margin-top: 200px;
  margin-left: 600px;
  margin-bottom: 300px;
  font-size: 80px;
  font-weight: 900;
  transform: translate(-50%, -50%);
  -webkit-text-fill-color: transparent;
  text-shadow: 8px 8px #ffc901, 20px 20px #a8ccf3;

  text-shadow: 8px 8px #ffc901, 20px 20px #a8ccf3;
}
.top {
  --offset: 50px;
  position: sticky;
  bottom: 20px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  left: 1100px;
  /* visual styling */
  text-decoration: none;
  padding: 10px;
  color: #fff;
  background: #000;
  border-radius: 100px;
  white-space: nowrap;
}
