@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f3f5;
}

ul{
  list-style-type: none;
  padding: 0;
}

/*Nav Bar Css*/
header{
  min-height: 100vh;
}

.nav-container, .nav-container-inner{
  margin: 0 auto;
  width: 100%;
}

.nav-container{
  max-width: 1350px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto
}

.nav-container-inner{
  max-width: 1000px;
}

nav{
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2em;
  transition: 0.7s;
}

nav .nav-container-inner{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav .nav-container ul{
  width: 100%;
  margin: 0 1em;
}

nav .nav-container ul:nth-child(2){
  text-align: right;
}

nav .nav-container ul li{
  display: inline-block;
  margin: 0 0.7em;
}

nav a{
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
  font-weight: 600;
  color: black;
}

nav a:hover{
  color: orange;
}

/*Dropdown menu display*/
.dropdown{
  background: #E1D9D1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  height: 0;
  opacity: 0;
  transition: 0.7 cubic-bezier(.74,-0.03,.83,.67);
  overflow-y: hidden;
}

.dropdown ul{
  margin: 1em auto;
}

.dropdown li{
  margin: 1em 0;
}

.dropdown > div{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 6em 1em 3em 1em;
  height: 100%;
  overflow-y: scroll;
}

.dropdown > div::-webkit-scrollbar{
  display: none;
}

.dropdown .social-media{
  margin: 2em 0;
}

.social-media li{
  display: inline-block;
  margin: 0 0.5em;
}

/*Classes for JavaScript*/
.dropdown-open{
  height: 100vh;
  opacity: 1;
}

.navbar-active{
  background: #E1D9D1;
  padding: 1em;
}

/*Navbar sticks to top*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 800px){
  nav .nav-container-inner{
    display: none;
  }

  nav .nav-container{
    grid-template-columns: 1fr 1fr;
  }
}
