@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media screen and (min-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    background: #111222;
  }
  #navbar {
    z-index: 2;
  }
  #navbar-content {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
  }

  #navbar-content h2 {
    margin-right: 300px;
    -webkit-text-stroke: 0.5px white;
    -webkit-text-fill-color: black;
  }
  #navbar-content span {
    -webkit-text-fill-color: #60c045;
  }

  #navbar-content a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
  }
  #navbar-content a:hover {
    color: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(114, 253, 45, 0.7818507863514459) 100%
    );
  }

  #navbar-content a:after {
    content: "";
    position: absolute;
    background-color: #5f8575;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
  }

  #navbar-content a:hover:after {
    width: 100%;
  }
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }

  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #04aa6d;
    width: 0%;
  }
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #headcontainer {
    color: #fff;
  }

  .main-title {
    font-size: 4em;
    margin-bottom: 50px;
  }

  .content {
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content .image {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
  }

  .content .image img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .content .text-box {
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
  }

  .content .text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  /*Allows zooming of image*/
  #zoom {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #zoom-img {
    max-width: 50%;
    max-height: 40%;
    border-radius: 5%;
  }

  .media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    width: 1150px;
  }

  .media-icons i {
    border: solid;
    border-color: #111222;
    font-size: 2em;
    margin: 60px;
  }

  .media-icons i:hover {
    border-color: #fff;
  }

  .desc {
    text-align: center;
    overflow-wrap: break-word;
    inline-size: 150px;
    padding-top: 20px;
    color: #111222;
  }

  #icon:hover + .desc {
    display: block;
    text-align: center;
    color: #fff;
  }

  .section-title {
    font-size: 3em;
    margin-bottom: 80px;
  }

  .info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
  }

  .info {
    width: 700px;
    margin-left: 25px;
  }

  .media-info {
    width: 400px;
    margin-left: 25px;
  }

  .media-info li {
    list-style: none;
    font-size: 1.4em;
  }

  .media-info li a {
    color: #fff;
    text-decoration: none;
  }

  .media-info li:not(:last-child) {
    margin-bottom: 50px;
  }

  .media-info li:nth-child(1),
  .media-info li:nth-child(5) {
    padding-left: 100px;
  }

  .media-info li:nth-child(2),
  .media-info li:nth-child(4) {
    padding-left: 50px;
  }
  .wiggle-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: wiggle 2s linear infinite;
    transform-origin: 50% 8em;
    animation-delay: 1s;
  }

  .wiggle-btn:hover {
    animation: none;
  }

  @keyframes wiggle {
    0%,
    5% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%,
    100% {
      transform: rotateZ(0);
    }
  }

  .wiggle-btn:before {
    z-index: 000;
    content: "";
    position: absolute;
    width: 220px;
    height: 50px;
    box-shadow: 0 5px 25px rgba(2, 2, 2, 0.5);
  }

  .wiggle-btn span {
    z-index: 222;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: 0 5px 25px rgba(2, 2, 2, 1);
  }

  .wiggle-btn .btn-img {
    z-index: 111;
    width: 250px;
  }

  #timeline {
    display: flex;
    background-color: #111222;
  }
  #timeline:hover .tl-item {
    width: 23.3333%;
  }

  .tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
    border: 4px solid;
    border-color: #111222;
  }
  .tl-item:before,
  .tl-item:after {
    transform: translate3d(0, 0, 0);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .tl-item:after {
    background: rgba(3, 22, 37, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  .tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .tl-item:hover {
    width: 30% !important;
  }
  .tl-item:hover:after {
    opacity: 0;
  }
  .tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
  }
  .tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
  }
  .tl-item:hover .tl-bg {
    filter: grayscale(0);
  }

  .tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
  }
  .tl-content h1 {
    font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial,
      sans-serif;
    text-transform: uppercase;
    color: #1779cf;
    font-size: 1.44rem;
    font-weight: normal;
  }

  .tl-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    font-size: 40px;
  }

  .tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
  }
}
